# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/

# Django
db.sqlite3
db.sqlite3-journal
local_settings.py
media/
staticfiles/

# Environments
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
